---
import LoginForm from "@components/authForm/LoginForm";
import AuthLayout from "../../layouts/AuthLayout.astro";
import Button from "@components/ui/Button";

export const prerender = true
---

<AuthLayout
    title="Personal Access"
    subtitle="Control and tracking of your purchases"
>
    <LoginForm slot="form" client:load />
    <span slot="footer">
        Dont't have an account? <Button text="Sing up"  type="link" href="/auth/register"/>
    </span>
</AuthLayout>
