---
import AuthLayout from "@layouts/AuthLayout.astro";
import RegisterForm from '@components/authForm/RegisterForm'
import Button  from "@components/utils/Button";

export const prerender = true
---

<AuthLayout
    title="Join Kaizen"
    subtitle="Complete your registration and enjoy exclusive benefits"
>
    <RegisterForm slot='form' client:load/>
    <span slot="footer">
        Already have an account? <Button text="Log in" type="link" href="/auth/login"/>
    </span>
</AuthLayout>
