---
import Header from "@components/Header.astro";
import MainLayout from "./MainLayout.astro";
import Footer from "@components/Footer.astro";


---

<MainLayout>
    <Header />
    <main class="min-w-screen min-h-screen pb-30">
        <slot />
    </main>
    <Footer />
</MainLayout>
