---
import "../styles/global.css";

const { title } = Astro.props;
---


<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="shortcut icon"
            href="/logo-color-primary.svg"
            type="image/x-icon"
        />

        <title>Kaizen Auth - {title}</title>
    </head>
    <body class="w-screen h-screen font-[Onest] [&*>]:box-border">
        <slot/>
    </body>
</html>
