---
import Button from "@components/utils/Button";
import ClientLayout from "@layouts/ClientLayout.astro";
---

<ClientLayout>
    <!-- Hero -->
    <section class="h-[calc(100vh-50px)] relative">
        <img
            class="w-full h-full object-cover"
            src="/kickboxing-entrenamiento-gimnasio-profesional.webp"
            alt="Kickboxing training in gym - fighter celebrating victory"
            title="Combate profesional de kickboxing y muay thai"
            loading="eager"
            decoding="async"
            fetchpriority="high"
        />
        <div
            class="absolute top-0 left-0 w-screen h-[calc(100vh-50px)]
        flex flex-col justify-center items-center gap-6"
        >
            <div class="flex flex-col text-center items-center">
                <h1
                    class="uppercase font-black text-5xl text-(--color-primary)"
                >
                    KAIZEN PHILOSOPHY
                </h1>
                <h2
                    class="uppercase font-semibold text-xl text-white max-w-md text-center"
                >
                    Everything you need to evolve into your martial art
                </h2>
            </div>
            <Button text="EXPLORE OUR VISION" type="secundary" />
        </div>
    </section>

    <!-- Flag -->
    <div
                class ="w-screen flex flex-row py-1.5
        [&>*]:flex [&>*]:flex-row [&>*]:justify-between [&>*]:gap-2.5 [&>*]:min-w-full
        font-extrabold text-2xl [&>*]:text-nowrap [&>*]:select-none
        bg-(--color-primary) overflow-hidden
        [&>*]:animate-inifinit-sroll"
    >
        <div>
            <span>★</span>
            <span>FREE SHIPPING +50€</span>
            <span>★</span>
            <span>CONTINUOUS IMPROVEMENT</span>
            <span>★</span>
            <span>EQUIPMENT TESTED BY PROFESSIONALS</span>
            <span>★</span>
            <span>CONTINUOUS IMPROVEMENT</span>
            <span></span>
        </div>

        <div aria-hidden="true">
            <span>★</span>
            <span>FREE SHIPPING +50€</span>
            <span>★</span>
            <span>CONTINUOUS IMPROVEMENT</span>
            <span>★</span>
            <span>EQUIPMENT TESTED BY PROFESSIONALS</span>
            <span>★</span>
            <span>CONTINUOUS IMPROVEMENT</span>
            <span></span>
        </div>
    </div>

    <!-- New Collection -->

</ClientLayout>
